{{#if devoured}}
<li class="eat">
	{{burger_name}}

   	  
		<button class="devour-burger" data-id="{{this.id}}">Devour It!</button>
	
	
</li>

{{else}}
<li class="ate">
	{{burger_name}}

    {{#if devoured}}	  
		<button class="devour-burger" data-id="{{this.id}}">Devour It!</button>
	{{else}}
	{{/if}}
</li>
{{/if}}